{% load static %}


<div>

  <h2>Login to your account</h2>
  <form>
    <div class="form-group">
      <label for="user">Username:</label>
      <input type="text" class="form-control" id="user">
    </div>
    
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    
    <button id="login" type="submit" class="btn btn-primary">Login</button>
    <a href="#">Forgot Username?</a>
  </form>

  <script src="{% static 'js/login.js' %}" type="module"></script>

</div>
